body{ background-image: url("../images/cowbackground.jpg")
}

.myblue {
	background-color:#FFFFFF
}
.images {
	background-color: #FFFFFF
}

.myred {
    background-color:#EAAD30
}

.myheader {
	background-image: url("../images/windmill3.jpg");
	height:200px;
	background-size: cover;
	
}

.myboxsize {
	height: 600px;
	
}